<h1 class="d-flex justify-content-between"><%= @task.title %>
  <button type="button" class="btn btn-light"> <%= link_to "Edit this task", edit_task_path %></button>
</h1>
<br>

<div class="p-3 mb-2 bg-light text-dark rounded">
  <h3><%= @task.details %></h3>
</div>

<div>
  <% if @task.completed %>
     <input type="checkbox" id="scales" name="scales" checked> This taks is completed
  <% else %>
    <input type="checkbox" id="scales" name="scales" unchecked> This task is not completed yet
  <% end %>
</div>
<hr>
<%= link_to "↩️ Back to list", tasks_path %>
